<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	

	<typeAliases>
		<typeAlias type="com.xuliangjun.jiujiucms.modules.system.entry.Role" alias="Role"/>
		<typeAlias type="com.xuliangjun.jiujiucms.modules.system.entry.Menu" alias="Menu"/>
		<typeAlias type="com.xuliangjun.jiujiucms.modules.system.entry.User" alias="user"/>
		<typeAlias type="com.xuliangjun.jiujiucms.common.util.PageData" alias="pd"/>
	</typeAliases>
	
	
</configuration>