<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	

	<typeAliases>
		<typeAlias type="com.jiujiucms.modules.system.entity.Role" alias="Role"/>
		<typeAlias type="com.jiujiucms.modules.system.entity.Menu" alias="Menu"/>
		<typeAlias type="com.jiujiucms.modules.system.entity.User" alias="user"/>
		<typeAlias type="com.jiujiucms.common.util.PageData" alias="pd"/>
		
		<typeAlias type="com.jiujiucms.common.entity.Page" alias="Page"/>
		
		<typeAlias type="com.jiujiucms.modules.cms.entity.Template" alias="Template"/>
	</typeAliases>
	
	
</configuration>